#root {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 2rem;
}

.search {
  display: grid;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  height: 100%;
  width: 100%;
}
.search_component {
  display: flex;
  margin: 40px auto;
}

.search_compoonent-grid {
  position: relative;
}

.books_component {
  position: relative;
  display: flex;
  margin: 4rem auto;
  width: 100%;
}

.readinglist {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;

  @media only screen and (max-width: 768px) {
    position: relative;
    width: fit-content;
    top: 0;
    margin: 0 auto;
    right:unset;
  }
}
.loadMore {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}